In [1]:
# 데이터 붙이기 => 번호 컬럼만 따로 가져오기 => 기존 데이터에 내용 추가해보기

In [402]:
import numpy as np
import pandas as pd
import requests 
import time
from bs4 import BeautifulSoup 
from glob import glob


# 21.09.20 기준 https://kr.investing.com/stock-screener/ 사이트에서 1~10페이지 분량 작업. 총 54페이분량

# file_names = glob("/Users/ppangppang/Desktop/ssac/finance_data/*.csv")
# file_names

# total = pd.DataFrame()
# for file_name in file_names:
#     temp = pd.read_csv(file_name)
#     total = pd.concat([total, temp])
pd.options.display.max_info_columns =200
pd.options.display.max_columns = 200
pd.options.display.max_info_rows =100
pd.options.display.max_rows = 100

In [403]:
# 사용할 데이터만가져오기, 기존 데이터에 있는 종가는 현재 가격이 아님
total.index = range(len(total))
df = total[['종목','기호','거래량']]
df[99:200]

          종목      기호      거래량
99     Cubes   65560     0.00
100    현대무벡스  319400     0.00
101    랩지노믹스   84650     0.00
102  Novarex  194700     0.00
103    한국쉘석유    2960    2.14K
..       ...     ...      ...
195      바른손   18700     0.00
196     메타랩스   90370  215.11K
197  메타바이오메드   59210     0.00
198      모비스  250060     0.00
199    에스제이엠  123700   30.32K

[101 rows x 3 columns]

In [422]:
# 종목만 따로 떼오기. str로 변환안하면 0을 미포함하는 경우가 생김
temp = df['기호'].values
temp2 = list(map(str, temp))

for num in range(len(temp2)-1):
    if len(temp2[num]) ==5:
        temp2[num] = '0' + temp2[num]
    elif len(temp2[num]) ==4:
        temp2[num] = '00' + temp2[num]
    elif len(temp2[num]) ==3:
        temp2[num] = '000' + temp2[num]
    elif len(temp2[num]) ==2:
        temp2[num] = '0000' + temp2[num]
    elif len(temp2[num]) ==1:
        temp2[num] = '00000' + temp2[num]
temp = temp2

In [423]:
# str형으로 변경됐는지 최종확인
for num in range(len(temp)-1):
    if len(temp[num]) !=6:
        print(num)  # 	미래에셋맵스프런티어브라질 8자리로 되어있는 펀드같음 신경 안써도 되느낮료

2455

In [424]:
# 종목코드 변환한것 df에 넣기
temp=np.array(temp)
temp = np.ravel(temp, order='C')
temp = pd.DataFrame({"기호" : temp})
# temp
df1 = df[['종목']]
df2 = df1.join(temp, how='outer')
df3 = df2.join(df[['거래량']], how='outer')
df_set = df3

In [425]:
code= df_set['기호']
len(code)

2658

In [407]:
# 종목번호를 잘못입력해도 연결되고, html 변환도 오류 안뜬다

# url = f'https://finance.naver.com/item/main.nhn?code=000000'
# response = requests.get(url)
# response
# html = BeautifulSoup(response.text, 'html.parser')

In [408]:
# 오류 뜨기전 사용하던 코드
# price = []

# for num in code:
#     url = f'https://finance.naver.com/item/main.nhn?code={num}'

#     print(f'{num}종목 현재가격 크롤링중 입니다.')
#     seed = np.random.randint(100) # seed 설정
#     np.random.seed(seed)    # 시드 생성
#     a = np.random.randint(5)  # 시드에서 난수 생성
#     time.sleep(a)     # 코드실행 지연시키는 코드
    
#     response = requests.get(url)

#     if(response.status_code == requests.codes.ok):
#         html = BeautifulSoup(response.text, 'html.parser')

#     else:
# #         print(f'{num}종목 크롤링 실패, 값을 다시 확인해주세요(금일종가 0원으로 처리)')
#         print(f"크롤링 실패. 종목번호 : {num} 을 확인해 주세요")
# #         price.append('0')
# #         continue

#     price.append(html.select('p.no_today')[0].text)

In [ ]:
# 현재 최종본 / 0으로 시작하는 코드 제대로 크롤링되는지 확인
price = []

for num in code:
    url = f'https://finance.naver.com/item/main.nhn?code={num}'

    print(f'{num}종목 현재가격 크롤링중 입니다.')
    seed = np.random.randint(100) # seed 설정
    np.random.seed(seed)    # 시드 생성
    a = np.random.randint(5)  # 시드에서 난수 생성
    time.sleep(a)     # 코드실행 지연시키는 코드
    
    response = requests.get(url)

    if(response.status_code == requests.codes.ok):
        html = BeautifulSoup(response.text, 'html.parser')
           
    else:
        print(f"크롤링 실패. 종목번호 : {num} 을 확인해 주세요")

    try:
        price.append(html.select('p.no_today')[0].text)

    except:
        print(f'{num}종목 크롤링 실패, 값을 다시 확인해주세요(현재가격 0원으로 처리)')
        price.append('0')

print("크롤링 완료")

041930종목 현재가격 크롤링중 입니다.
101060종목 현재가격 크롤링중 입니다.
187420종목 현재가격 크롤링중 입니다.
060590종목 현재가격 크롤링중 입니다.
357580종목 현재가격 크롤링중 입니다.
092230종목 현재가격 크롤링중 입니다.
290670종목 현재가격 크롤링중 입니다.
000430종목 현재가격 크롤링중 입니다.
007160종목 현재가격 크롤링중 입니다.

In [391]:
# price 정리

code_price =[]

for num in price:
    temp = []
        # 현재가격 크롤링 되지 않는 데이터를 html.select형태로 변환해서 작업해버리자
    if num == '0':
        num = '\n\n0\n0\n\n'
        temp.append(num.split('\n'))
        temp=np.array(temp)
        code_price.append(temp[0,2:3])

    else:
        temp.append(num.split('\n'))
        temp=np.array(temp)
        code_price.append(temp[0,2:3])

code_price = np.ravel(code_price, order='C')
code_price = pd.DataFrame({"현재가격" : code_price})

In [392]:
code_price

        현재가격
0     48,250
1    174,500
2     37,150
3    150,800
4     65,300
..       ...
545   44,400
546  161,000
547  587,000
548  190,000
549  101,500

[550 rows x 1 columns]

In [393]:
# 현재가격 업데이트
df_daily = df.join(code_price, how='outer')

In [394]:
# 최종확인
df_daily[100:200]

                       종목      기호      거래량     현재가격
100                 원익QnC   74600     0.00   26,300
101                에스앤에스텍  101490     0.00   33,100
102                  NICE   34310   34.03K   18,300
103                인텔리안테크  189300     0.00   76,500
104                    디오   39840     0.00   45,650
105                  삼양사우  145995   422.00   47,700
106                  아미코젠   92040     0.00   35,300
107                  코웰패션   33290     0.00    7,820
108                    바텍   43150     0.00   44,650
109                 아주캐피탈   33660     0.00        0
110                 일양약품우    7575    1.14K   32,500
111                  서울가스   17390   28.79K  170,000
112                   코미팜   41960     0.00   10,200
113                 대성홀딩스   16710   65.77K   40,500
114                 SPC삼립    5610    5.30K   80,300
115                 동아에스티  170900    7.18K   77,000
116                 삼화콘덴서    1820   57.37K   62,800
117                 일진다이아   81000   85.02K   45,100
118                Jetema  216080     0.00   36,100
119               엔지켐생명과학  183490     0.00   76,700
120                지놈앤컴퍼니  314130     0.00   46,950
121               주성엔지니어링   36930     0.00   13,100
122               코오롱플라스틱  138490   24.80M   16,600
123                티케이케미칼  104480     0.00    6,930
124     JW Pharmaceutical    1065   550.00   35,600
125     JW Pharmaceutical    1067   523.00   62,000
126               티앤알바이오팹  246710     0.00   74,200
127                우리기술투자   41190     0.00    8,070
128                   HDC   12630  155.95K   11,450
129               서울바이오시스   92190     0.00   16,450
130                  애경산업   18250   33.07K   23,800
131                  네오위즈   95660     0.00   29,200
132                  국전약품  307750     0.00   12,700
133                 이오플로우  294090     0.00   53,900
134                풀무원홀딩스   17810   41.72K   16,900
135                  동일방직    1530   40.00K  336,000
136                   휴온스  243070     0.00   57,400
137                엑세스바이오  950130     0.00   17,300
138                미래에셋생명   85620  129.24K    4,720
139                  인스코비    6490    6.45M    5,690
140                  삼양식품    3230    9.25K   81,400
141                신흥에스이씨  243840     0.00   81,000
142                    안랩   53800     0.00   70,400
143          Kolon Global    3075   11.73K   37,500
144                  비에이치   90460     0.00   19,550
145                  서흥캅셀    8490   12.26K   54,500
146                   올릭스  226950     0.00   44,200
147                아주IB투자   27360     0.00    5,220
148                 현대시멘트    6390    7.17K   33,600
149                CJ헬로비전   37560  700.93K    7,690
150                 두산솔루스  336370  341.09K   65,100
151                 바이오니아  064550     0.00   84,500
152                    한샘  009240  321.85K  123,000
153             에이치엘비생명과학  067630     0.00   21,700
154             솔루스첨단소재1우  33637K   17.08K   18,100
155            솔루스첨단소재2우B  33637L    4.36K   30,400
156                  LS산전  010120  126.53K   67,700
157               오스템임플란트  048260     0.00  145,200
158                  영원무역  111770   93.34K   45,150
159                현대엘리베이  017800  193.66K   48,200
160                  현대해상  001450  423.40K   24,750
161                   두산우  000155   10.04K   69,300
162                 두산2우B  000157    2.90K  125,500
163                  에스티팜  237690     0.00  104,700
164                   제넥신  095700     0.00   75,300
165             HDC현대산업개발  294870  285.66K   28,600
166                한국전력기술  052690  294.82K   49,300
167                    LS  006260  109.63K   67,400
168            LX Semicon  108320     0.00  114,800
169                아시아나항공  020560    1.60M   25,100
170                  동국제강  001230    1.18M   19,950
171                  에코프로  086520     0.00  101,200
172                  포스링크  056730     0.00    1,550
173                 현대백화점  069960   82.99K   81,900
174                PI첨단소재  178920  196.51K   59,800
175                  바른전자  064520     0.00      944
176                동원시스템즈  014820   98.41K   68,000
177                 한전KPS  051600  189.13K   38,650
178                   오뚜기  007310    5.88K  512,000
179                    후성  093370    3.21M   18,550
180                 HK이노엔  195940     0.00   59,500
181                  대웅제약  069620   30.76K  154,500
182  Daelim Industrial Co  000215    1.92K   44,500
183               KG동부제철우  016385   134.00  118,500
184                덕산네오룩스  213420     0.00   69,900
185                 금호타이어  073240  412.92K    5,860
186                    농심  004370   20.55K  290,000
187       Lotte Rental Co  089860  228.24K   45,500
188                  티씨케이  064760     0.00  143,000
189               유바이오로직스  206650     0.00   46,000
190                 비츠로시스  054220     0.00    5,430
191                    두산  000150  118.82K  100,000
192                아프리카TV  067160     0.00  148,100
193                케이엠더블유  032500     0.00   40,750
194                 한미반도체  042700  292.18K   32,500
195                JB금융지주  175330  338.25K    8,210
196                데브시스터즈  194480     0.00  156,500
197              에코프로에이치엔  383310     0.00  104,300
198                 동진쎄미켐  005290     0.00   30,950
199                    DL  000210  240.02K   72,200