#### Quiz 1
- `input`을 이용하여 숫자를 입력받는 코드를 작성하시오.
    - 문자가 입력되면 에러 메시지를 보내고 다시 숫자를 입력받도록 만들어 주세요.
- while, try-except, input() 이용


- 결과
```
insert number : python
숫자를 입력해주세요.
insert number : !!!
숫자를 입력해주세요.
insert number : 1234
숫자가 입력되었습니다 :  1234
```

In [15]:
while test==0:
    try:
        num=int(input("insert number : "))
    except ValueError:
        print("숫자를 입력해주세요.")
        num=input("insert number : ")
        
    if type(num) == int:
        print(f"숫자가 입력되었습니다 : {num}")
        break;
    else :
        print("숫자를 입력해주세요.")

insert number : ㅇㄹㅇㄹ
숫자를 입력해주세요.
insert number : 22ㄹㄹ
숫자를 입력해주세요.
insert number : 2222
숫자가 입력되었습니다 : 2222

In [1]:
# TODO

insert number : python
숫자를 입력해주세요.
insert number : !!!
숫자를 입력해주세요.
insert number : 1234
숫자가 입력되었습니다 : 1234

#### Quiz 2
- 이자율을 입력 받을때 이자율이 3 ~ 10 사이로 입력되도록 Account 클래스를 작성해주세요.
- 3% 미만의 이자율을 객체로 만들때 생성하면 "이자율을 3% 이상으로 설정해주세요." 메시지와 함께 에러를 발생
- 10% 초과의 이자율을 객체로 만들때 생성하면 "이자율을 10% 이하로 설정해주세요." 메시지와 함께 에러를 발생
- if, elif, raise, class, Exception, 비교연산자 사용


- 결과

```
# 객체 생성 1
account1 = Account(2)

# 에러 발생 1
LowInterest: 이자율을 1.03 이상으로 설정해주세요.

# 객체 생성 2
account2 = Account(13)

# 에러 발생 2
HighInterest: 이자율을 1.10 이하로 설정해주세요.

# 객체 생성 3
account1 = Account(7)
account1.disp()

# 결과 출력
계좌에 설정된 이자율은 7.0% 입니다

```

In [2]:
# TODO

In [16]:
class Account:
    def __init__(self,interest):
        self.interest = interest        
        if interest > 10:
            print("HighInterest: 이자율을 10% 이하로 설정해주세요.")
        elif interest < 3:
            print("HighInterest: 이자율을 3% 이상으로 설정해주세요.")        
        else:
            return(f"계좌에 설정된 이자율은 {interst}")

In [17]:
account1 = Account(2)

HighInterest: 이자율을 3% 이상으로 설정해주세요.

In [18]:
account1 = Account(11)

HighInterest: 이자율을 10% 이하로 설정해주세요.

In [5]:
try:
    account1 = Account(15)
except Exception as e:
    print(e)

이자율을 10% 이하로 설정해주세요.

In [6]:
account1 = Account(7)
account1.disp()

'계좌에 설정된 이자율은 7.0% 입니다'

#### Quiz 3
- 아래와 같이 데이터 프레임을 만드세요.
- Column
    - line(공장라인) : line1, line2, line3 중 하나의 데이터를 랜덤하게 저장
    - good(양품) : 100 ~ 200 중 랜덤한 정수
    - bad(불량) : 0 ~ 100 중 랜덤한 정수
    - date(날짜) : 1 ~ 5 중 랜던한 정수
- Row 데이터 : 10개

In [24]:
import numpy as np
import pandas as pd
import random

line,good,bad,date,index_list=[],[],[],[],[]

for i in range(10):
    line.append(f"line{random.randint(1,3)}")
    good.append(random.randint(100,200))
    bad.append(random.randint(0,100))
    date.append(random.randint(1,5))
    index_list.append(i) 
    
line = np.array(line)
good = np.array(good)
bad = np.array(bad)
date = np.array(date)
index_list = np.array(index_list)


factory = pd.DataFrame({'line':[i for i in line],
                        'good':[i for i in good],
                        'bad':[i for i in bad],
                        'date':[i for i in date]
                       },index=range(0,10))

factory

    line  good  bad  date
0  line3   196   41     3
1  line1   119   20     1
2  line2   112    1     1
3  line1   136   29     5
4  line1   182   29     1
5  line2   172   31     3
6  line2   116   51     2
7  line3   162   25     4
8  line1   153   28     4
9  line2   122   91     5

#### Quiz 4
- 위의 데이터 프레임에서 전체 양품수, 전체 불량수, 불량률을 소수 둘째 자리까지 출력하세요.

In [25]:
total_items = factory["good"].sum()
bad_items = factory["bad"].sum()
bad_rate = round(total_items/bad_items,2)
print("전체 양품수 : {}, 전체 불량수 : {}".format(total_items, bad_items))
print("전체 불량률 : {} %".format(bad_rate))

전체 양품수 : 1470, 전체 불량수 : 346
전체 불량률 : 4.25 %

#### Quiz 5
- 생산라인별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [26]:
df1=factory.groupby('line', as_index=False).sum()
df1.loc[0:2, df1.columns[:3]]

    line  good  bad
0  line1   590  106
1  line2   522  174
2  line3   358   66

#### Quiz 6
- 생산 라인별 불량률을 출력하세요.

In [27]:
df1=factory.groupby('line', as_index=False).sum()
df1.insert(4,'bad_rate', round(df1['bad']/df1['good']*100,2))
df1

    line  good  bad  date  bad_rate
0  line1   590  106    11     17.97
1  line2   522  174    11     33.33
2  line3   358   66     7     18.44

#### Quiz 7
- 날짜별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [28]:
df2=factory.groupby('date', as_index=False).sum()
df2

   date  good  bad
0     1   413   50
1     2   116   51
2     3   368   72
3     4   315   53
4     5   258  120

#### Quiz 8
- 날짜별 불량률을 출력하세요.

In [29]:
df2=factory.groupby('date', as_index=False).sum()
df2.insert(3,'bad_rate', round(df2['bad']/df2['good']*100,2))
df2

   date  good  bad  bad_rate
0     1   413   50     12.11
1     2   116   51     43.97
2     3   368   72     19.57
3     4   315   53     16.83
4     5   258  120     46.51

#### Quiz 9
- 아래의 데이터를 pivot_table을 이용하여 출력하세요.
    - 라인별, 날짜별, 양품수
    - 라인별, 날짜별, 불량수
    - 라인별, 날짜별, 불량률
- NaN 데이터는 0으로 변경하세요.
- pivot_table, fillna 사용

In [30]:
df3= pd.pivot_table(factory,
               index= 'line',
               columns= 'date',
               values= 'good',
               fill_value=0,
               aggfunc= np.sum)
df3

date     1    2    3    4    5
line
line1  301    0    0  153  136
line2  112  116  172    0  122
line3    0    0  196  162    0

In [31]:
df4= pd.pivot_table(factory,
               index= 'line',
               columns= 'date',
               values= 'bad',
               fill_value=0,
               aggfunc= np.sum)
df4

date    1   2   3   4   5
line
line1  49   0   0  28  29
line2   1  51  31   0  91
line3   0   0  41  25   0

In [32]:
df5 = round(df4/df3*100,2)
df5.fillna(0)

date       1      2      3      4      5
line
line1  16.28   0.00   0.00  18.30  21.32
line2   0.89  43.97  18.02   0.00  74.59
line3   0.00   0.00  20.92  15.43   0.00