In [1]:
# 데이터 붙이기 => 번호 컬럼만 따로 가져오기 => 기존 데이터에 내용 추가해보기

In [275]:
import numpy as np
import pandas as pd
import requests 
import time
from bs4 import BeautifulSoup 
from glob import glob


# 21.09.20 기준 https://kr.investing.com/stock-screener/ 사이트에서 1~10페이지 분량 작업. 총 54페이분량

# file_names = glob("/Users/ppangppang/Desktop/ssac/finance_data/*.csv")
# file_names

# total = pd.DataFrame()
# for file_name in file_names:
#     temp = pd.read_csv(file_name)
#     total = pd.concat([total, temp])
pd.options.display.max_info_columns =200
pd.options.display.max_columns = 200
pd.options.display.max_info_rows =100
pd.options.display.max_rows = 100

In [277]:
# 사용할 데이터만가져오기, 기존 데이터에 있는 종가는 현재 가격이 아님
total.index = range(len(total))
df = total[['종목','기호','거래량']]
df[1:100]

             종목      기호      거래량
1           이마트  139480  176.55K
2       메리츠금융지주  138040  258.07K
3          엘엔에프  066970     0.00
4       현대중공업지주  267250  913.40K
5        한미사이언스  008930  107.77K
6          삼성증권  016360  255.97K
7         유한양행우  000105   792.00
8          아모레G  002790  194.64K
9          두산밥캣  241560  246.78K
10         유한양행  000100  316.67K
11          한진칼  180640  140.98K
12        쌍용C&E  003410  992.10K
13        삼성중공우  010145   683.00
14          녹십자  006280   65.21K
15  GS Holdings  078935    5.26K
16        GS 그룹  078930  354.78K
17       NH투자증권  005940  807.11K
18          팬오션  028670    5.34M
19         GS건설  006360  741.76K
20    NH 투자증권 우  005945   35.58K
21      일진머티리얼즈  020150  972.99K
22      SK머티리얼즈  036490     0.00
23        삼성중공업  010140    5.90M
24        한솔케미칼  014680   60.83K
25        호텔신라우  008775    8.00K
26        쌍용양회우  003415     0.00
27         동부화재  005830  175.56K
28       효성첨단소재  298050  156.56K
29         삼성카드  029780  139.85K
30         한미약품  128940   19.24K
31          신풍우  019175   12.87K
32        한화시스템  272210    1.83M
33        SK케미칼  285130  174.04K
34       한국가스공사  036460  854.16K
35        메리츠화재  000060  246.91K
36      두산퓨얼셀1우  33626K   33.68K
37        GS리테일  007070  307.83K
38          KCC  002380   48.08K
39         신풍제약  019170  683.11K
40      CJ Corp  00104K    5.74K
41          CJ우  001045    1.58K
42         알테오젠  196170     0.00
43       CJ대한통운  000120   34.68K
44         호텔신라  008770  272.12K
45          OCI  010060  297.61K
46        두산퓨얼셀  336260  549.52K
47           씨젠  096530     0.00
48      메리츠종금증권  008560    1.62M
49        더존비즈온  012510  279.03K
50         대한항공  003490    5.11M
51       S-Oil우  010955    6.73K
52        두산중공업  034020    8.14M
53          F&F  383220   45.92K
54          하이브  352820  223.50K
55     삼성화재 우선주  000815    6.74K
56        대한항공우  003495   14.41K
57         인터불스  158310     0.00
58         KT&G  033780  428.28K
59          넷마블  251270  217.36K
60       에코프로비엠  247540     0.00
61     삼성화재해상보험  000810  100.86K
62         고려아연  010130   49.33K
63        롯데케미칼  011170  187.68K
64     SK 바이오팜   326030  151.78K
65        한온시스템  018880  728.38K
66        한화솔루션  009830  902.72K
67       우리금융지주  316140    2.16M
68           KT  030200  549.21K
69         기업은행  024110  969.13K
70        CJ제일우  097955    5.88K
71       한국조선해양  009540    1.92M
72       한화케미칼우  009835    2.01K
73      LG디스플레이  034220    3.74M
74        에이치엘비  028300     0.00
75         현대제철  004020  738.06K
76       현대글로비스  086280  126.98K
77       CJ제일제당  097950   42.80K
78        금호석유우  011785   24.92K
79    미래에셋대우2우b  00680K    1.71M
80        미래에셋우  006805   53.55K
81       LG유플러스  032640    1.07M
82         현대건설  000720  606.98K
83          SKC  011790  328.22K
84        현대건설우  000725   265.00
85          코웨이  021240  260.47K
86        한국금융우  071055   23.99K
87         강원랜드  035250    1.00M
88       셀트리온제약  068760     0.00
89        한국타이어  161390  357.50K
90         금호석유  011780  282.75K
91        카카오게임  293490     0.00
92      삼성엔지니어링  028050    4.45M
93        아모레G우  002795   16.54K
94       미래에셋대우  006800    4.42M
95     한국투자금융지주  071050  349.60K
96        LG이노텍  011070  315.65K
97       맥쿼리인프라  088980  613.66K
98         펄어비스  263750     0.00
99          오리온  271560  110.14K

In [278]:
# 종목만 따로 떼오기. str로 변환안하면 0을 미포함하는 경우가 생김
code = df['기호'].astype(str)
len(code)

550

In [221]:
# code= df['기호'][0:3]
# code[0]='000000'# 오류테스트용
# code

In [222]:
# 종목번호를 잘못입력해도 연결되고, html 변환도 오류 안뜬다

# url = f'https://finance.naver.com/item/main.nhn?code=000000'
# response = requests.get(url)
# response
# html = BeautifulSoup(response.text, 'html.parser')

In [223]:
# 오류 뜨기전 사용하던 코드
# price = []

# for num in code:
#     url = f'https://finance.naver.com/item/main.nhn?code={num}'

#     print(f'{num}종목 현재가격 크롤링중 입니다.')
#     seed = np.random.randint(100) # seed 설정
#     np.random.seed(seed)    # 시드 생성
#     a = np.random.randint(5)  # 시드에서 난수 생성
#     time.sleep(a)     # 코드실행 지연시키는 코드
    
#     response = requests.get(url)

#     if(response.status_code == requests.codes.ok):
#         html = BeautifulSoup(response.text, 'html.parser')

#     else:
# #         print(f'{num}종목 크롤링 실패, 값을 다시 확인해주세요(금일종가 0원으로 처리)')
#         print(f"크롤링 실패. 종목번호 : {num} 을 확인해 주세요")
# #         price.append('0')
# #         continue

#     price.append(html.select('p.no_today')[0].text)

In [261]:
# 오류 테스트용
price = []

for num in code:
    url = f'https://finance.naver.com/item/main.nhn?code={num}'

    print(f'{num}종목 현재가격 크롤링중 입니다.')
    seed = np.random.randint(100) # seed 설정
    np.random.seed(seed)    # 시드 생성
    a = np.random.randint(5)  # 시드에서 난수 생성
    time.sleep(a)     # 코드실행 지연시키는 코드
    
    response = requests.get(url)

    if(response.status_code == requests.codes.ok):
        html = BeautifulSoup(response.text, 'html.parser')
           
    else:
        print(f"크롤링 실패. 종목번호 : {num} 을 확인해 주세요")

    try:
        price.append(html.select('p.no_today')[0].text)

    except:
        print(f'{num}종목 크롤링 실패, 값을 다시 확인해주세요(현재가격 0원으로 처리)')
        price.append('0')

print("크롤링 완료")

034730종목 현재가격 크롤링중 입니다.
090435종목 현재가격 크롤링중 입니다.
009150종목 현재가격 크롤링중 입니다.
032830종목 현재가격 크롤링중 입니다.
018260종목 현재가격 크롤링중 입니다.
086790종목 현재가격 크롤링중 입니다.
003670종목 현재가격 크롤링중 입니다.
036570종목 현재가격 크롤링중 입니다.
090430종목 현재가격 크롤링중 입니다.
010950종목 현재가격 크롤링중 입니다.
크롤링 완료

In [268]:
# price 정리

code_price =[]

for num in price:
    temp = []
        # 현재가격 크롤링 되지 않는 데이터를 html.select형태로 변환해서 작업해버리자
    if num == '0':
        num = '\n\n0\n0\n\n'
        temp.append(num.split('\n'))
        temp=np.array(temp)
        code_price.append(temp[0,2:3])

    else:
        temp.append(num.split('\n'))
        temp=np.array(temp)
        code_price.append(temp[0,2:3])

code_price = np.ravel(code_price, order='C')
code_price = pd.DataFrame({"현재가격" : code_price})

In [269]:
# 현재 가격 열 붙이기
df_daily = df.join(code_price, how='outer')

In [264]:
# 최종확인
df_daily

        종목      기호      거래량     현재가격
1      이마트  139480  176.55K   73,100
2  메리츠금융지주  138040  258.07K  178,500
3     엘엔에프  066970     0.00   72,800
4  현대중공업지주  267250  913.40K  168,000
5   한미사이언스  008930  107.77K   44,400
6     삼성증권  016360  255.97K  161,000
7    유한양행우  000105   792.00  587,000
8     아모레G  002790  194.64K  190,000
9     두산밥캣  241560  246.78K  101,500