In [1]:
first_num = input()
count = 0

while True:
    first_info = first_num

    if count == 0:
        a = first_num
    else:
        a= next_num

    if len(a) == 1:
        a = '0'+str(a)
        
    front_num = int(a[0])
    back_num = int(a[1])

    temp_num = front_num + back_num
    if len(str(temp_num)) == 1:
        temp_str = '0'+str(temp_num)
    else:
        temp_str = str(temp_num)

    next_num = str(back_num)+temp_str[1]
    count += 1

    if int(first_info)==int(next_num):
        break
print(count)

60

In [6]:
counts = int(input())
num_list = list(map(int, input().split()))
print(min(num_list), max(num_list))

1 4

In [8]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

multi = num1*num2*num3

num_list = [0,0,0,0,0,0,0,0,0,0]
for i in str(multi):
    for n in range(10):
        if int(i) == n :
            num_list[n] += 1

for n in num_list:
    print(n)

In [39]:
num_list = [int(input()) for i in range(10)]
divide_list = [None for i in range(10)]
cnt = []
for i in range(10):
    divide_list[i] = num_list[i]%42
    if divide_list[i] not in cnt:
        cnt.append(divide_list[i])
print(len(cnt))

8

In [50]:
subject = int(input())
num_list = list(map(int, input().split()))

M = max(num_list)
num_new =[]
for i in num_list:
    num_new.append(i/M*100)
print(sum(num_new)/len(num_new))

75.0

In [56]:
num = int(input())
ans_list = [input() for i in range(num)]
ans_list

['1', '2', '3']

In [57]:
num = int(input())
ans_list = [input() for i in range(num)]

for ans in ans_list:
    score = 0
    o_score = 0
    for i in ans:
        if i=='O':
            o_score += 1
            score += o_score

        else:
            o_score = 0
    print(score)

10
9
7
45
30

In [107]:
num = int(input())
target = 0

if num <= 99:
    target = num

else:
    
    for i in range(100, num+1):
        temp = str(i)
        diff1 = int(temp[2]) - int(temp[1])
        diff2 = int(temp[1]) - int(temp[0])

        if diff1==diff2:
            target += 1
    target += 99

print(target)

119

In [122]:
words = input()
alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
location = [-1]*26

for i in range(len(words)):
    for alp in range(len(alphabet)):
        if (words[i] == alphabet[alp]) & (location[alp]==-1):
            location[alp] = i
        else:
            continue

for i in location:
    print(i,end=' ')

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [146]:
case = int(input())

for i in range(case):
    temp = input()
    temp = temp.split(' ')
    string_list = temp[1]
    for i in string_list:
        print(i*int(temp[0]),end='')
    print('')

AAABBBCCC
/////HHHHHTTTTTPPPPP

In [213]:
words = input()
words_list =[]
for i in words:
    words_list.append(i.lower())

words_list.sort()
test = dict.fromkeys(words_list,0)
for i in words_list:
    test[i] += 1

In [215]:
max(test)

's'

In [216]:
pwd

'/Users/ppangppang/Documents/dev/TIL'

In [217]:
import pandas as pd
import os
path = '/Users/ppangppang/Desktop/starting_ki/'
files = os.listdir(path)
files

['shape.json',
 'iid_test.json',
 'pose.json',
 'weather.json',
 'context.json',
 'occlusion.json',
 'texture.json']

In [223]:
pd.read_json(path+files[3])

,bbox,image_id,score,category_id
0,"[269, 27, 600, 386]",aeroplane_+_fog_OR_foggy_OR_smog_google_0008,1,2
1,"[53, 152, 71, 117]",bicycle_+_fog_OR_foggy_OR_smog_google_0125,1,3
2,"[126, 150, 83, 119]",bicycle_+_fog_OR_foggy_OR_smog_google_0125,1,3
3,"[180, 137, 67, 128]",bicycle_+_fog_OR_foggy_OR_smog_google_0125,1,3
4,"[865, 403, 163, 152]",boat_+_snow_OR_snowy_google_0060,1,4
...,...,...,...,...
1343,"[41, 66, 1084, 255]",aeroplane_+_snow_OR_snowy_google_0101,1,2
1344,"[163, 79, 271, 120]",aeroplane_+_fog_OR_foggy_OR_smog_google_0039,1,2
1345,"[295, 206, 12, 19]",motorbike_in_foggy_day_google_0009,1,9
1346,"[126, 170, 157, 152]",train_+_rain_OR_rainy_google_0159,1,1
1347,"[189, 279, 299, 112]",aeroplane_+_fog_OR_foggy_OR_smog_google_0005,1,2